* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#image {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.lineWidget {
  background: #FFF;
  border-radius: 5em;
  height: 2em;
  width: 20em;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.box {
  background: #FFF;
  height: 7em;
  border-radius: 1em;
  width: 7em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.arrow {
  align-self: baseline;
  color: #359830;
  margin-left: 1em;
  cursor: pointer;
}


#widget {
  display: flex;
  flex-direction: column;
  background: #EBEBEB;
  border-radius: 1em;
  width: 20%;
  height: 65%;
  min-height: 30em;
  min-width: 25em;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1em;
}

#basic {
  display: flex;
  justify-content: space-between;
  height: 7em;
  width: 20em;
}