.container_login {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

button {
  align-self: center;
  margin-bottom: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
}

input {
  margin-left: 1rem
}